PORT=8020
MONGODB_URI="mongodb+srv://<username>:<password>@<cluster-url>/?appName=<app-name>"

# MONGODB_WEB_DATABASE="ml_lesson02_web"
# MONGODB_MOBILE_DATABASE="ml_lesson02_mobile"

APP_ENV="development"
